.App{
  border: 1px solid black;
  width: 100%;
}
.Cart-container{
  border: 1px solid red;
  width: 50%;
}
.sub-container{
  border: 1px solid green;
  width: 50%;
}
.Product-container{
  display: flex;
}
.list{
  list-style: none;
  margin: 5px;
  padding: 5px;
  border: 1px solid;
}
.list-cart{
  list-style: none;
  display: flex;
  justify-content: space-between;
 

}
.c{
  border: 1px solid;
  padding: 2px;
}
.total{
  display: flex;
  justify-content: space-between;
  
}